*{
  box-sizing: border-box;
}

body{
  margin:0;
}
.warp{
  max-width:980px;
  margin: 0 auto;
}
header{
  border-bottom:1px solid gray;
  height: 100px;

}
a {
  color:black;
  text-decoration: none;
}
h1 {
  font-size:45px;
  float: left;
  margin:0;
  padding:20px;
}
/*네비게이션*/
nav{
  float: right;
}
ul{
  margin:0;
  padding:20px;
}
ul li{
  list-style: none;
  display: inline-block;
}
ul li a:hover,
ul li a:active{
  color: #ed6c00;
  border-bottom: 2px solid #ed6c00;
}
/*모바일 메뉴*/
.mobile-menu{
  display:none;
}
#grid{
}
#grid article{
  text-align: center;
}
footer address{
  padding-left:10px;
  text-align: center;
}

/*모바일 팝업메뉴 없애기*/
.popup_menu_area{
  display: none;
}


/*모바일*/
@media(max-width:720px){
  #grid{
    display: block;
  }
  ul{
    display:none;
  }
  .menu_btn{
    display:block;
  }
  .menu_btn{
    width: 40px;
    height: 40px;
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
  }
  .menu_btn:hover,
  .menu_btn:focus{
    background-image: url('../img/menu_over.png');
  }
  .popup_menu_area{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .popup_menu_area.open{
    display: block;
  }
  .close_btn{
    width: 40px;
    height: 40px;
    background: url('../img/btn_close.png') no-repeat 90% 8%;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 20;
    cursor: pointer;
  }
  .pop_menu{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    color: #fff;
    font-size: 40px;
    transform: translate(-50%, -50%);
  }
  .pop_menu li{
    display: block;
  }
  .pop_menu a{
    color: #fff;
    opacity: 1;
  }
  .back{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
